<th:block th:fragment="navigation">
    <div class="nav">
        <img class="navbar-brand img" src="/img/wizard.png" width="60" height="50">
        <ul class="navList">
            <li>
                <div class="navMenu">
                    <h2 class="menu-title">시스템관리</h2>
                    <ul class="menu-dropdown">
                        <li><a href="#">자사정보설정 등록</a></li>
                        <li><a href="#">사용자로그조회</a></li>
                        <li><a href="#">공통코드 등록</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="navMenu">
                    <h2 class="menu-title">공지사항관리</h2>
                    <ul class="menu-dropdown">
                        <li><a href="#">공지사항 등록</a></li>
                        <li><a href="#">공지사항 조회</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="navMenu">
                    <h2 class="menu-title">기초코드관리</h2>
                    <ul class="menu-dropdown">
                        <li><a href="#">거래처 관리</a></li>
                        <li><a href="#">품명코드 등록</a></li>
                        <li><a href="#">부서 등록</a></li>
                        <li><a href="#">직책 등록</a></li>
                        <li><a href="#">사원코드 등록</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="navMenu">
                    <h2 class="menu-title">상담관리</h2>
                    <ul class="menu-dropdown">
                        <li><a href="#">상담 등록</a></li>
                     </ul>
                </div>
            </li>
            <li>
                <div class="navMenu">
                    <h2 class="menu-title">교구관리</h2>
                    <ul class="menu-dropdown">
                        <li><a href="#">고구입고 등록</a></li>
                        <li><a href="#">교구출고 등록</a></li>
                        <li><a href="#">교구재고 등록</a></li>
                        <li><a href="#">교구수불 등록</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div id="userInfo"></div>
    </div>
</th:block>
