<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wizard.eVC.baseMgmt.customArticle.customArticleMapper">
    <!--첫번째 젤위에있는 select  관리품목 전체보기 클릭시 select -->
    <select id="sCustomList" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO">
        {CALL xp_Article_sArticle_Custom_sales_Test(
                #{p.KCustom , jdbcType=VARCHAR, mode=IN},
                #{p.businessTypeCode ,jdbcType=VARCHAR, mode=IN}
              )}
    </select>
    <!--첫번째 젤위에있는 select  -->
    <select id="sCustomListALL" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO">
        {CALL xp_Article_sArticle_sales_Test(
                #{p.KCustom , jdbcType=VARCHAR, mode=IN},
                #{p.businessTypeCode ,jdbcType=VARCHAR, mode=IN}
              )}
    </select>
    <!--두번째  순 품번 품명만 select -->
    <select id="sArticle" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" >
        {CALL xp_Article_sArticle_Custom_sales_article(
                #{p.businessTypeCode ,jdbcType=VARCHAR, mode=IN},
                #{p.ArticleID,jdbcType=VARCHAR, mode=IN},
                #{p.article,jdbcType=VARCHAR, mode=IN}
              )}

    </select>
    <select id="sArticleDetail" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" >
        {CALL xp_Article_sArticle_Custom_sales_article_Detail(
                #{p.businessTypeCode ,jdbcType=VARCHAR, mode=IN},
                #{p.ArticleID,jdbcType=VARCHAR, mode=IN},
                #{p.article,jdbcType=VARCHAR, mode=IN},
                #{p.CustomID, jdbcType=VARCHAR, mode=IN}
              )}

    </select>

    <!--세번째  거래처 code 받아서 하는 마지막   select -->
    <select id="sArticleCustom" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO">
        {CALL xp_Article_sArticle_Custom_sales_Detail_Test(
                #{p.CustomID,jdbcType=VARCHAR, mode=IN}
              )}

    </select>
    <!--   저장하는로직-->

    <select id="iArticle" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" >
        {CALL xp_Article_iArticle_Custom_sales_Detail_Test(
                #{CustomID, jdbcType=VARCHAR, mode=IN},
                #{ArticleID, jdbcType=VARCHAR, mode=IN},
                #{InvestmentUnitPrice, jdbcType=NUMERIC, mode=IN},
                #{UnitPrice, jdbcType=NUMERIC, mode=IN},
                #{businessCommission, jdbcType=NUMERIC, mode=IN},
                #{PersonId, jdbcType=VARCHAR, mode=IN},
                #{Mode,jdbcType=VARCHAR,mode=IN}
              )}
    </select>

    <delete id ="dArticle" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO">
        {CALL xp_Article_dArticle_Custom_sales_Detail_Test(
                #{CustomID,jdbcType=VARCHAR, mode=IN }

              )}

    </delete>

    <select id="articleSearch" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType= "wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" >
        {CALL xp_Article_sArticle_article (
                #{ArticleID, jdbcType=VARCHAR , mode=IN}
              )}
    </select>

    <select id="checkArticle" parameterType="wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" resultType= "wizard.eVC.baseMgmt.customArticle.dto.LJHbasecodeDTO" >
        {CALL xp_Article_dArticle_Custom_sales_Check_Artcile] (
            #{CustomID, jdbcType=VARCHAR, mode=IN},
            #{ArticleID, jdbcType=VARCHAR, mode=IN}
              )}
    </select>



</mapper>